[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sentry-sdk = "*"
black = "*"
flake8 = "*"

[packages]
mypy = "*"
jupyterlab = "*"
numpy = "*"
keras = "*"
matplotlib = "*"
pillow = "*"
seaborn = "*"
pandas = "*"
h5py = "*"
redis = "*"
tensorboard = "*"
tensorflow-gpu = "==1.12.0"
requests = "*"
pytest = "*"
pymongo = "*"
black = "*"
pygame = "==1.9.6"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
