[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sentry-sdk = "*"
flake8 = "*"
pytest = "*"
mypy = "*"
black = "*"

[packages]
jupyterlab = "*"
numpy = "*"
matplotlib = "*"
pillow = "*"
seaborn = "*"
pandas = "*"
h5py = "*"
redis = "*"
requests = "*"
pymongo = "*"
pygame = "==1.9.6"
grpcio = "==1.20.1"
tensorflow = "==1.12.0"
snoop = "*"
tensorflow-gpu = "*"
keras = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
